extends ../layout

block content
    div.container
        div.page-header
            h1= title
        div.row
            div.col-md-8
                .well.well-sm
                    form.form-horizontal
                        div.form-group
                            label.control-label.col-sm-2 Username
                            div.col-md-6
                                p.form-control-static= user.username
                        div.form-group
                            label.control-label.col-sm-2 Password
                            div.col-md-6
                                p.form-control-static 
                                     button.btn.btn-info.btn-md(type='button', data-toggle='modal', data-target='#myModal') Change Password
                        div.form-group
                            label.control-label.col-sm-2 Email
                            div.col-md-6
                                p.form-control-static= user.email
                        div.form-group
                            label.control-label.col-sm-2 Created At
                            div.col-md-6
                                p.form-control-static= user.created_at
                    // Modal
                    #myModal.modal.fade(role='dialog')
                        .modal-dialog
                            // Modal content
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal') &times;
                                    h4 Change Password
                                .modal-body
                                        form(role="form", method="post", id="change_password", action="/users/change_password")
                                            input(type="hidden" id="username" name="username" value="#{user.username}")
                                            div.form-group
                                                label(for='new_password') New Password:
                                                input.form-control(id="new_password", type="text", name="new_password", placeholder="Enter your new password" class='form-control', required=true)
                                            div.form-group
                                                label(for='new_password2') Confirm your new password:
                                                input.form-control(id="new_password2", type="text", name="new_password2", placeholder="Confirm your new password" class='form-control', required=true)
                                            div.form-group
                                                button.btn.btn-danger(type='button', data-dismiss='modal') Cancel
                                                | &nbsp;&nbsp;
                                                button.login.btn.btn-primary(type='submit') Change Passowrd